::ng-deep :root {
  --light: #f6f6f9;
  --primary: #1976d2;
  --light-primary: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #363949;
  --danger: #d32f2f;
  --light-danger: #fecdd3;
  --warning: #fbc02d;
  --light-warning: #fff2c6;
  --success: #388e3c;
  --light-success: #bbf7d0;
}
* {
  color: var(--dark);
}
.not_found > svg {
  width: 500px;
  height: 500px;
  position: relative;
  top:50%;
  left: 30%;
}
.not_found > h1 {
  text-align: center;
}
thead {
    background-color: var(--light);
    border-bottom: 1px solid var(--dark);
  }
  .mdal {
    background-color: var(--light);
  }
  tr {
    background-color: var(--light);
  }
  .modalbox {
    background-color: var(--light);
    border-bottom: 1px solid var(--light-grey);
  }
  .select_style{
    background-color: var(--light);
    color: var(--dark);
    margin-bottom: 10px;
  }
